* {
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI',Roboto,Ubuntu,sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 644px;
    width: 100%;
    position: relative;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 1;
    gap: 20px;
    padding: 0px 30px;
}

.hero > :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero > :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero > :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 9px;
    background-color: rgb(66, 66, 66);
}

.form {
    display: flex;
    align-items: center;
    gap: 9px;
}

.B {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.3);
    border-radius: 4px;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.4);
    font-size: 16px;
    font-weight: 400;
}

.btn-white {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
    padding: 5px 8px;
    cursor: pointer;
}

.btn img {
    filter: invert(1);
    width: 15px;
}

.btn-red {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: rgb(229, 9, 20);
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1s ease;
}

.btn-red:hover {
    background-color: rgb(184, 3, 13);
}

.main input {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    width: 393px;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.4);
    padding: 18px 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.6);
}

input:focus::placeholder,
    input:not(:placeholder-shown)::placeholder {
      transition: transform 0.3s ease-out, font-size 0.3s ease-out;
      transform: translateY(-85%);
      font-size: 12px;
    }

.btn-red img {
    filter: invert(1);
    font-weight: 500;
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 1s ease;
}

.btn-red-sm:hover {
    background-color: rgb(184, 3, 13);
}

@media screen and (max-width: 699px) {
    
    .hero > :nth-child(1) {
        font-size: 30px;
    }

    .hero > :nth-child(2) {
        font-size: 20px;
    }

    .hero > :nth-child(3) {
        font-size: 16px;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width: 67vw;
    }

    .btn-red {
        display: flex;
        font-size: 18px;
        padding: 8px 18px;
        flex-wrap: nowrap;
    }

    .form input {
        width: 293px;
        padding: 10px 10px;
        margin: auto;
    }
}

.first {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    gap: 23px;
    margin-bottom: 12px;
}

@media screen and (max-width: 25px) {
    .first {
        flex-wrap: wrap;
    }
}

.secImg {
    position: relative;
}

.secImg img{
    width: 25vw;
}

.secImg video {
    position: absolute;
    top: 99px;
    right: 76px;
    z-index: -1;
}

.first > div {
    display: flex;
    flex-direction: column;
}

.first > div :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.first > div:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
}

.second div:nth-child(2):nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.forth div:nth-child(2):nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.third .secImg img {
    width: 23vw;
}

.third .secImg video {
    position: absolute;
    top: 77px;
    right: 76px;
    z-index: -1;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
}

.faq h1 {
    display: flex;
    width: 38.7vw;
    justify-content: flex-start;
    margin: auto;
    font-size: 32px;
    font-weight: 700;

}

.faqbox {
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    width: 37vw;
    margin: auto;
    font-size: 24px;
    padding: 24px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: all 1s ease;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox svg {
    filter: invert(1);
}

.faq div:nth-child(7) {
    margin-bottom: 1px;
}

footer {
    color: white;
    padding: 14px;
}

.question {
    display: flex;
    max-width: 60vw;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 5px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 60vw;
    margin: auto;
}

.footer a {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}

footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 11px;
}